<% if @beer_country.errors %>
  <ul>
    <% @beer_country.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <%end%>
  </ul>
<%end%>

<%= form_for @beer_country do |b|%>
  <p>
    <%= b.label :name %>
    <%= b.text_field :name %>
  </p>
  <p>
    <%= b.label :image_src %>
    <%= b.text_field :image_src %>
  </p>
  <%= b.submit %>
<%end%>
