<div class="ui fixed inverted menu">
  <div class="ui container">
    <%= link_to root_path, class: "header item" do %>
      <%= image_tag "logo.png", class: "logo" %>
      Trangr
    <%end%>
    <%= link_to "Home", root_path, class: "item" %>
    <%= link_to "Add a Country", new_country_path, class: "item"  %>
    <%= link_to "Signup", signup_path, class: "item" %>
    <%= link_to "Signin", signin_path, class: "item" %>

  </div>
</div>
