<h1>Edit The Book</h1>
<%= form_for @book do |b| %>
  <p>
    <%= b.label "Name" %>
    <%= b.text_field :name %>
  </p>
  <p>
    <%= b.label "Genre" %>
    <%= b.text_field :genre %>
  </p>
  <p>
    <%= b.label "Image Source" %>
    <%= b.text_field :image_src %>
  </p>
  <%= b.submit %>
<% end %>
