<h1><%= @book.name %></h1>
<img src='<%= @book.image_src %>'>
<p><%= link_to "Edit Book", edit_book_path(book_id: @book.id) %> | <%= link_to "Delete Book", book_path(book_id: @book.id), method: :delete %> | <%= link_to "Back to Author", author_path(@book.author_id) %> | <%= link_to "Back to Home", root_path %></p>
