<% if @current_user %>
  <h4>Great to see you again <%= @current_user.email %>!</h4>
<%end%>
<h2>Where should we go?</h2>
<%= form_tag "/countries", method: "get", class: "ui form" do %>
  <select name="country_id" class="ui search dropdown">
    <% @countries.each do |c| %>
      <option value="<%= c.id %>"><%= c.name %></option>
    <%end%>
  </select>
  <%= submit_tag "Go", class: "ui button primary" %>
<%end%>


<h2></h2>
<%= link_to "Add a Country", new_country_path, class: "item"  %>
