<form action="/mountains/<%= @item_data['id'] %>" method="POST">
  <p>
    <label>Name</label>
    <input type="text" name="name" value="<%= @item_data['name'] %>">
  </p>
  <p>
    <label>Height</label>
    <input type="text" name="height" value="<%= @item_data['height'] %>">
  </p>
  <p>
    <label>Location</label>
    <input type="text" name="location" value="<%= @item_data['loation'] %>">
  </p>
  <!-- <p>
    <label>Image Source</label>
    <input type="text" name="img_src" value="<%= @person['image_src'] %>">
  </p> -->
  <input type="submit" value="Edit Person">
</form>
