<h1><%= "#{@item_data['name']}" %>, <%= "#{@item_data['location']}" %></h1>
<h2>Height =  <%= "#{@item_data['height']}" %>m</h2>
<p>
  <a href="/<%= @page_name %>/<%= @item_data['id'] %>/edit">Edit</a>
</p>
