<h1>Welcome to <%= @country.name %>!</h1>
<% if @current_user %>
  <%= link_to "Edit Country", edit_country_path(@country.id) %> |
  <%= link_to "Delete Country", country_path(country_id: @country.id), method: :delete %> |
  <%= link_to "Add City", new_city_path(country_id: @country.id) %>
<% end %>
<ul>
  <% @country.cities.each do |city| %>
    <li><%= link_to city.name, city_path(city.id)%></li>
  <% end %>
</ul>
