<% if @food_item.errors %>
<!-- <ul>

</ul> -->
  <%= form_for @food_item do |f|%>

  <p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :image_src %>
  <%= f.text_field :image_src %>
  </p>

  <%= submit %>



  
