<h1>This is <%= @city.name %>!</h1>
<%= link_to "Edit City Name", edit_city_path(@city.id) %>

<h3>Activities</h3>
<ul>
  <% @city.activities.each do |activity| %>
    <li><%= link_to activity.name, activity_path(activity.id) %></li>
  <%end%>
</ul>

<h3>Landmarks</h3>
<ul>
  <% @city.landmarks.each do |landmark| %>
    <li><%= landmark.name %></li>

  <%end%>

  <li><%= link_to "add a new landmark", new_landmark_path(city_id: @city.id) %></li>

</ul>
